<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td class="align-middle" th:text="${user.id}"></td>
        <td class="align-middle" th:text="${user.name}"></td>
        <td class="align-middle" th:text="${user.surname}"></td>
        <td class="align-middle" th:text="${user.getRole()}"></td>
        <div>
            <td><a th:href="@{updateUser/{id}(id=${user.id})}">Edit</a></td>
            <td><a th:href="@{deleteUser/{id}(id=${user.id})}">Delete</a></td>
        </div>
    </tr>
</table>

<p><a href="/createUser">Create user</a></p>


</body>
</html>